@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Baconsale";
}

<div>
    <p>Come and check out our podcast for weekly movie reviews by clicking <a href="https://baconsale.com/">here!</a></p>
</div>