@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Bad Movie Choice";
}

<div>
    Unfortunately you have typed in the wrong movie... we are unable 
    to add this title to the list at this time. Please try another
    title.
</div>